
	body {
		background: #0f1116;
	}


/* Image */



		.image.featured {
			position: static;
			display: block;
			margin: 0;
		}

			.image.featured img {
				display: block;
				width: 100%;
			}



	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Cont */

	body {
		/* min-width: (containers) */
		min-width: 1200px;
	}

	.cont {
		margin-left: auto;
		margin-right: auto;
		
		/* width: (containers) */
		width: 1200px;
	}

	/* Modifiers */
	
		.cont.small {
			/* width: (containers) * 0.75; */
			width: 900px;
		}

		.cont.big {
			width: 100%;

			/* max-width: (containers) * 1.25; */
			max-width: 1500px;

			/* min-width: (containers); */
			min-width: 1200px;
		}

/* Grid */

	.\31 2u { width: 100% }
	.\31 1u { width: 91.6666666667% }
	.\31 0u { width: 83.3333333333% }
	.\39 u { width: 75% }
	.\38 u { width: 66.6666666667% }
	.\37 u { width: 58.3333333333% }
	.\36 u { width: 50% }
	.\35 u { width: 41.6666666667% }
	.\34 u { width: 33.3333333333% }
	.\33 u { width: 25% }
	.\32 u { width: 16.6666666667% }
	.\31 u { width: 8.3333333333% }
	.\-11u { margin-left: 91.6666666667% }
	.\-10u { margin-left: 83.3333333333% }
	.\-9u { margin-left: 75% }
	.\-8u { margin-left: 66.6666666667% }
	.\-7u { margin-left: 58.3333333333% }
	.\-6u { margin-left: 50% }
	.\-5u { margin-left: 41.6666666667% }
	.\-4u { margin-left: 33.3333333333% }
	.\-3u { margin-left: 25% }
	.\-2u { margin-left: 16.6666666667% }
	.\-1u { margin-left: 8.3333333333% }

	/* Ros */

		.ro > * {
			float: left;
		}

		.ro:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
		}

		.ro:first-child > * {
			padding-top: 0 !important;
		}

		/* Normal */

			.ro > * {
				/* padding-left: (gutters) */
				padding-left: 40px;
			}

			.ro + .ro> * {
				/* padding: (gutters) 0 0 (gutters) */
				padding: 40px 0 0 40px;
			}

			.ro {
				/* margin-left: -(gutters) */
				margin-left: -40px;
			}


	
	
		/* Double */

			.ro.double > * {
				/* padding-left: (gutters * 2) */
				padding-left: 80px;
			}

			.ro + .ro.double > * {
				/* padding: (gutters * 2) 0 0 (gutters * 2) */
				padding: 80px 0 0 80px;
			}

			.ro.double {
				/* margin-left: -(gutters * 2) */
				margin-left: -80px;
			}